[submodule "submodules/balancer-v2-pools-atq-module-66c6ccc"]
	path = submodules/balancer-v2-pools-atq-module-66c6ccc
	url = https://github.com/gmkung/balancer-v2-pools-atq-module.git
[submodule "submodules/opensea-seaport-messari-atq-module-aca69ee"]
	path = submodules/opensea-seaport-messari-atq-module-aca69ee
	url = https://github.com/gmkung/opensea-seaport-messari-atq-module.git
[submodule "submodules/uniswap-v3-pools-atq-module-c8baafd"]
	path = submodules/uniswap-v3-pools-atq-module-c8baafd
	url = https://github.com/gmkung/uniswap-v3-pools-atq-module.git
[submodule "submodules/uniswap-v2-pairs-atq-module-ff0ce56"]
	path = submodules/uniswap-v2-pairs-atq-module-ff0ce56
	url = https://github.com/gmkung/uniswap-v2-pairs-atq-module.git
[submodule "submodules/uniswap-v3-pools-atq-module-50c7a12"]
	path = submodules/uniswap-v3-pools-atq-module-50c7a12
	url = https://github.com/gmkung/uniswap-v3-pools-atq-module.git
