[submodule "submodules/uniswap-v3-pools-atq-module-50c7a12"]
	path = submodules/uniswap-v3-pools-atq-module-50c7a12
	url = https://github.com/gmkung/uniswap-v3-pools-atq-module.git
[submodule "submodules/uniswap-v3-pools-atq-module-c8baafd"]
	path = submodules/uniswap-v3-pools-atq-module-c8baafd
	url = https://github.com/gmkung/uniswap-v3-pools-atq-module.git
[submodule "submodules/balancer-v2-pools-atq-module-66c6ccc"]
	path = submodules/balancer-v2-pools-atq-module-66c6ccc
	url = https://github.com/gmkung/balancer-v2-pools-atq-module.git
[submodule "submodules/uniswap-v2-pairs-atq-module-ff0ce56"]
	path = submodules/uniswap-v2-pairs-atq-module-ff0ce56
	url = https://github.com/gmkung/uniswap-v2-pairs-atq-module.git
[submodule "submodules/aave-v3-tokens-atq-module-2b0edde"]
	path = submodules/aave-v3-tokens-atq-module-2b0edde
	url = https://github.com/greentea135/aave-v3-tokens-atq-module.git
[submodule "submodules/sushiswap-v3-pools-atq-module-a450cc7"]
	path = submodules/sushiswap-v3-pools-atq-module-a450cc7
	url = https://github.com/greentea135/sushiswap-v3-pools-atq-module.git
[submodule "submodules/aave-v3-tokens-atq-module-ca6428f"]
	path = submodules/aave-v3-tokens-atq-module-ca6428f
	url = https://github.com/greentea135/aave-v3-tokens-atq-module.git
[submodule "submodules/eigenpie-tokens-atq-module-9e13d1b"]
	path = submodules/eigenpie-tokens-atq-module-9e13d1b
	url = https://github.com/greentea135/eigenpie-tokens-atq-module.git
[submodule "submodules/aave-v3-tokens-atq-module-8174f03"]
	path = submodules/aave-v3-tokens-atq-module-8174f03
	url = https://github.com/greentea135/aave-v3-tokens-atq-module.git
[submodule "submodules/aave-v2-tokens-atq-module-5de800f"]
	path = submodules/aave-v2-tokens-atq-module-5de800f
	url = https://github.com/greentea135/aave-v2-tokens-atq-module.git
[submodule "submodules/silo-atq-module-36ad7ca"]
	path = submodules/silo-atq-module-36ad7ca
	url = https://github.com/greentea135/silo-atq-module.git
[submodule "submodules/stargate-v1-pools-atq-module-0875321"]
	path = submodules/stargate-v1-pools-atq-module-0875321
	url = https://github.com/greentea135/stargate-v1-pools-atq-module.git
[submodule "submodules/compound-v2-tokens-atq-module-414c23a"]
	path = submodules/compound-v2-tokens-atq-module-414c23a
	url = https://github.com/greentea135/compound-v2-tokens-atq-module.git
[submodule "submodules/karak-tokens-atq-module-02efa78"]
	path = submodules/karak-tokens-atq-module-02efa78
	url = https://github.com/greentea135/karak-tokens-atq-module.git
[submodule "submodules/moonwell-tokens-atq-module-bf996a1"]
	path = submodules/moonwell-tokens-atq-module-bf996a1
	url = https://github.com/greentea135/moonwell-tokens-atq-module.git
[submodule "submodules/zerolend-tokens-atq-module-86f12cd"]
	path = submodules/zerolend-tokens-atq-module-86f12cd
	url = https://github.com/greentea135/zerolend-tokens-atq-module.git
[submodule "submodules/sushiswap-v3-pools-atq-module-76699d5"]
	path = submodules/sushiswap-v3-pools-atq-module-76699d5
	url = https://github.com/greentea135/sushiswap-v3-pools-atq-module.git
[submodule "submodules/stream-v2-tokens-atq-module-22120de"]
	path = submodules/stream-v2-tokens-atq-module-22120de
	url = https://github.com/greentea135/stream-v2-tokens-atq-module.git
[submodule "submodules/amphor-tokens-atq-module-3a07c3f"]
	path = submodules/amphor-tokens-atq-module-3a07c3f
	url = https://github.com/greentea135/amphor-tokens-atq-module.git
[submodule "submodules/seamless-tokens-atq-module-77c82a8"]
	path = submodules/seamless-tokens-atq-module-77c82a8
	url = https://github.com/greentea135/seamless-tokens-atq-module.git
[submodule "submodules/seismic-tokens-atq-module-bf7bd2f"]
	path = submodules/seismic-tokens-atq-module-bf7bd2f
	url = https://github.com/greentea135/seismic-tokens-atq-module.git
[submodule "submodules/camelot-v3-pools-atq-module-45bf2d0"]
	path = submodules/camelot-v3-pools-atq-module-45bf2d0
	url = https://github.com/greentea135/camelot-v3-pools-atq-module.git
[submodule "submodules/camelot-v4-pools-atq-module-3be5dfc"]
	path = submodules/camelot-v4-pools-atq-module-3be5dfc
	url = https://github.com/greentea135/camelot-v4-pools-atq-module.git
[submodule "submodules/pancakeswap-v3-pools-atq-module-bf4c41a"]
	path = submodules/pancakeswap-v3-pools-atq-module-bf4c41a
	url = https://github.com/greentea135/pancakeswap-v3-pools-atq-module.git
[submodule "submodules/curve-pools-atq-module-9807dbc"]
	path = submodules/curve-pools-atq-module-9807dbc
	url = https://github.com/greentea135/curve-pools-atq-module.git
[submodule "submodules/curve-pools-atq-module-82d4c58"]
	path = submodules/curve-pools-atq-module-82d4c58
	url = https://github.com/greentea135/curve-pools-atq-module.git
[submodule "submodules/venus-v4-core-atq-module-d2c4594"]
	path = submodules/venus-v4-core-atq-module-d2c4594
	url = https://github.com/greentea135/venus-v4-core-atq-module.git
[submodule "submodules/pancakeswap-v2-pools-atq-module-17f14ad"]
	path = submodules/pancakeswap-v2-pools-atq-module-17f14ad
	url = https://github.com/greentea135/pancakeswap-v2-pools-atq-module.git
[submodule "submodules/sushiswap-v2-pools-atq-module-e841ae4"]
	path = submodules/sushiswap-v2-pools-atq-module-e841ae4
	url = https://github.com/greentea135/sushiswap-v2-pools-atq-module.git
[submodule "submodules/beethovenx-optimism-atq-module-3ecc572"]
	path = submodules/beethovenx-optimism-atq-module-3ecc572
	url = https://github.com/birlpossum/beethovenx-optimism-atq-module.git
