[submodule "submodules/sushiswap-v3-pools-atq-module-a450cc7"]
	path = submodules/sushiswap-v3-pools-atq-module-a450cc7
	url = https://github.com/greentea135/sushiswap-v3-pools-atq-module.git
[submodule "submodules/silo-atq-module-36ad7ca"]
	path = submodules/silo-atq-module-36ad7ca
	url = https://github.com/greentea135/silo-atq-module.git
